body, html {
  height: 100%;
}

*{
  box-sizing: border-box;
}

.bg-img {
  /* The image used */
  background-image: corona_img.jpg;

  /* Control the height of the image */
  min: height 800px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Add styles to the form container */
.container {
  position: absolute;
  right: 0;
  margin: 20px;
  max-width: 400px;
  padding: 19px;
  background-color: white;
}

/* Full-width input fields */
  input[type=text], input[type=text] {
  width: 100%;
  padding: 20px;
  margin: 8px 0 29px 0;
  border: burlywood;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=text]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit button */
.btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: blue;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.btn:hover {
  opacity: 1;
}