.abc{
	background-image:url("../images/img1.jpg");
}

.main{
font-family:poppins;
font-size:35px;
}

.demo{
background:#fffff;
box-shadow: 0px 2px 4px 0px #0000003d !important;
padding:20px;
}

.demo-url{
cursor:pointer;
padding: 5px 10px;
margin-top:-5px;
font-size: 15px !important;
background: linear-gradient(to right, #FF3834, #FF7133) !important;
color: #fff !important;
border: 0px;
border-radius: 0px;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    height: 50px;
    width: 50px;
    outline: black;
    background-color: rgba(0, 0, 0, 0.3);
    
    border-radius: 50%;
    border: 1px solid black;
}

.pqr{
	margin:0px 50px;
}




